<!-- model cart -->
<div class="modal fade" id="mini-cart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" role="document">
           {{>cartContent}}    
        </div>
        <!-- /.modal-content -->
    </div>
    <!--/.modal-dialog-->
</div>
<!-- /.modal -->
  